In [1]:
# data analysis and wrangling
import pandas as pd
import numpy as np
import random as rnd

In [2]:
# visualization
import seaborn as sns
import matplotlib.pyplot as plt
%matplotlib inline

In [3]:
# scaling and train test split
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import MinMaxScaler

In [4]:
# creating a model
from tensorflow.keras.models import Sequential
from tensorflow.keras.layers import Dense, Activation
from tensorflow.keras.optimizers import Adam

In [5]:
# evaluation on test data
from sklearn.metrics import mean_squared_error,mean_absolute_error,explained_variance_score
from sklearn.metrics import classification_report,confusion_matrix

In [6]:
# reading data from csv file using pandas
# reading data which will be used for training
df = pd.read_csv("C:\\Users\\saket\\Downloads\\project_data\\train-data.csv",skiprows=0)
df = df.drop("sno",axis=1)
df

,Name,Location,Year,Kilometers_Driven,Fuel_Type,Transmission,Owner_Type,Mileage,Engine,Power,Seats,New_Price,Price
0,Maruti Wagon R LXI CNG,Mumbai,2010,72000,CNG,Manual,First,26.6 km/kg,998 CC,58.16 bhp,5.0,NaN,1.75
1,Hyundai Creta 1.6 CRDi SX Option,Pune,2015,41000,Diesel,Manual,First,19.67 kmpl,1582 CC,126.2 bhp,5.0,NaN,12.50
2,Honda Jazz V,Chennai,2011,46000,Petrol,Manual,First,18.2 kmpl,1199 CC,88.7 bhp,5.0,8.61 Lakh,4.50
3,Maruti Ertiga VDI,Chennai,2012,87000,Diesel,Manual,First,20.77 kmpl,1248 CC,88.76 bhp,7.0,NaN,6.00
4,Audi A4 New 2.0 TDI Multitronic,Coimbatore,2013,40670,Diesel,Automatic,Second,15.2 kmpl,1968 CC,140.8 bhp,5.0,NaN,17.74
...,...,...,...,...,...,...,...,...,...,...,...,...,...
6014,Maruti Swift VDI,Delhi,2014,27365,Diesel,Manual,First,28.4 kmpl,1248 CC,74 bhp,5.0,7.88 Lakh,4.75
6015,Hyundai Xcent 1.1 CRDi S,Jaipur,2015,100000,Diesel,Manual,First,24.4 kmpl,1120 CC,71 bhp,5.0,NaN,4.00
6016,Mahindra Xylo D4 BSIV,Jaipur,2012,55000,Diesel,Manual,Second,14.0 kmpl,2498 CC,112 bhp,8.0,NaN,2.90
6017,Maruti Wagon R VXI,Kolkata,2013,46000,Petrol,Manual,First,18.9 kmpl,998 CC,67.1 bhp,5.0,NaN,2.65
6018,Chevrolet Beat Diesel,Hyderabad,2011,47000,Diesel,Manual,First,25.44 kmpl,936 CC,57.6 bhp,5.0,NaN,2.50

In [7]:
df.head()

,Name,Location,Year,Kilometers_Driven,Fuel_Type,Transmission,Owner_Type,Mileage,Engine,Power,Seats,New_Price,Price
0,Maruti Wagon R LXI CNG,Mumbai,2010,72000,CNG,Manual,First,26.6 km/kg,998 CC,58.16 bhp,5.0,NaN,1.75
1,Hyundai Creta 1.6 CRDi SX Option,Pune,2015,41000,Diesel,Manual,First,19.67 kmpl,1582 CC,126.2 bhp,5.0,NaN,12.50
2,Honda Jazz V,Chennai,2011,46000,Petrol,Manual,First,18.2 kmpl,1199 CC,88.7 bhp,5.0,8.61 Lakh,4.50
3,Maruti Ertiga VDI,Chennai,2012,87000,Diesel,Manual,First,20.77 kmpl,1248 CC,88.76 bhp,7.0,NaN,6.00
4,Audi A4 New 2.0 TDI Multitronic,Coimbatore,2013,40670,Diesel,Automatic,Second,15.2 kmpl,1968 CC,140.8 bhp,5.0,NaN,17.74

In [8]:
df.isnull().sum()

Name                    0
Location                0
Year                    0
Kilometers_Driven       0
Fuel_Type               0
Transmission            0
Owner_Type              0
Mileage                 2
Engine                 36
Power                  36
Seats                  42
New_Price            5195
Price                   0
dtype: int64

In [9]:
# data cleaning
df = df.drop(['New_Price'],axis=1)
mean = np.floor(df["Seats"].mean())
df = df.fillna({"Seats":mean})
df = df.dropna(how='any')

In [10]:
dff = df
df.isnull().sum()

Name                 0
Location             0
Year                 0
Kilometers_Driven    0
Fuel_Type            0
Transmission         0
Owner_Type           0
Mileage              0
Engine               0
Power                0
Seats                0
Price                0
dtype: int64

In [11]:
# after removing some rows there is some duplicate data 
# we are removing that
df = df.reset_index(drop=True)

In [12]:
# converting string data to float
for i in range(df.shape[0]):
    df.at[i, 'Company'] = df['Name'][i].split()[0]
    df.at[i, 'Mileage(km/kg)'] = df['Mileage'][i].split()[0]
    df.at[i, 'Engine(CC)'] = df['Engine'][i].split()[0]
    df.at[i, 'Power(bhp)'] = df['Power'][i].split()[0]

# converting to float :
df['Mileage(km/kg)'] = df['Mileage(km/kg)'].astype(float)
df['Engine(CC)'] = df['Engine(CC)'].astype(float)

In [13]:
# counting and locating the positions of power(bhp) which have null values.
count = 0
position = []
for i in range(0,df.shape[0]):
    if (df['Power(bhp)'][i] == 'null'):
        count = count +1
        position.append(i)
print(count)
print(position)

107
[76, 79, 89, 120, 143, 225, 243, 260, 305, 306, 384, 422, 426, 441, 470, 573, 629, 645, 646, 736, 745, 825, 911, 922, 930, 1064, 1139, 1149, 1267, 1314, 1339, 1381, 1412, 1547, 1570, 1641, 1664, 1849, 1991, 2045, 2120, 2154, 2252, 2256, 2294, 2330, 2356, 2380, 2428, 2437, 2484, 2488, 2514, 2564, 2582, 2619, 2624, 2871, 3013, 3041, 3084, 3169, 3227, 3269, 3417, 3494, 3509, 3565, 3604, 3614, 3621, 3645, 3709, 3776, 3857, 3873, 3905, 3974, 4051, 4054, 4323, 4326, 4598, 4677, 4681, 4711, 4797, 4853, 4867, 4919, 5029, 5083, 5191, 5388, 5400, 5420, 5491, 5495, 5609, 5717, 5721, 5823, 5835, 5855, 5887, 5905, 5947]

In [14]:
df = df.drop(df.index[position])
df = df.reset_index(drop=True)

In [15]:
df

,Name,Location,Year,Kilometers_Driven,Fuel_Type,Transmission,Owner_Type,Mileage,Engine,Power,Seats,Price,Company,Mileage(km/kg),Engine(CC),Power(bhp)
0,Maruti Wagon R LXI CNG,Mumbai,2010,72000,CNG,Manual,First,26.6 km/kg,998 CC,58.16 bhp,5.0,1.75,Maruti,26.60,998.0,58.16
1,Hyundai Creta 1.6 CRDi SX Option,Pune,2015,41000,Diesel,Manual,First,19.67 kmpl,1582 CC,126.2 bhp,5.0,12.50,Hyundai,19.67,1582.0,126.2
2,Honda Jazz V,Chennai,2011,46000,Petrol,Manual,First,18.2 kmpl,1199 CC,88.7 bhp,5.0,4.50,Honda,18.20,1199.0,88.7
3,Maruti Ertiga VDI,Chennai,2012,87000,Diesel,Manual,First,20.77 kmpl,1248 CC,88.76 bhp,7.0,6.00,Maruti,20.77,1248.0,88.76
4,Audi A4 New 2.0 TDI Multitronic,Coimbatore,2013,40670,Diesel,Automatic,Second,15.2 kmpl,1968 CC,140.8 bhp,5.0,17.74,Audi,15.20,1968.0,140.8
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5869,Maruti Swift VDI,Delhi,2014,27365,Diesel,Manual,First,28.4 kmpl,1248 CC,74 bhp,5.0,4.75,Maruti,28.40,1248.0,74
5870,Hyundai Xcent 1.1 CRDi S,Jaipur,2015,100000,Diesel,Manual,First,24.4 kmpl,1120 CC,71 bhp,5.0,4.00,Hyundai,24.40,1120.0,71
5871,Mahindra Xylo D4 BSIV,Jaipur,2012,55000,Diesel,Manual,Second,14.0 kmpl,2498 CC,112 bhp,8.0,2.90,Mahindra,14.00,2498.0,112
5872,Maruti Wagon R VXI,Kolkata,2013,46000,Petrol,Manual,First,18.9 kmpl,998 CC,67.1 bhp,5.0,2.65,Maruti,18.90,998.0,67.1
5873,Chevrolet Beat Diesel,Hyderabad,2011,47000,Diesel,Manual,First,25.44 kmpl,936 CC,57.6 bhp,5.0,2.50,Chevrolet,25.44,936.0,57.6

In [16]:
df.drop(["Name"],axis=1,inplace=True)
df.drop(["Mileage"],axis=1,inplace=True)
df.drop(["Engine"],axis=1,inplace=True)
df.drop(["Power"],axis=1,inplace=True)
df

,Location,Year,Kilometers_Driven,Fuel_Type,Transmission,Owner_Type,Seats,Price,Company,Mileage(km/kg),Engine(CC),Power(bhp)
0,Mumbai,2010,72000,CNG,Manual,First,5.0,1.75,Maruti,26.60,998.0,58.16
1,Pune,2015,41000,Diesel,Manual,First,5.0,12.50,Hyundai,19.67,1582.0,126.2
2,Chennai,2011,46000,Petrol,Manual,First,5.0,4.50,Honda,18.20,1199.0,88.7
3,Chennai,2012,87000,Diesel,Manual,First,7.0,6.00,Maruti,20.77,1248.0,88.76
4,Coimbatore,2013,40670,Diesel,Automatic,Second,5.0,17.74,Audi,15.20,1968.0,140.8
...,...,...,...,...,...,...,...,...,...,...,...,...
5869,Delhi,2014,27365,Diesel,Manual,First,5.0,4.75,Maruti,28.40,1248.0,74
5870,Jaipur,2015,100000,Diesel,Manual,First,5.0,4.00,Hyundai,24.40,1120.0,71
5871,Jaipur,2012,55000,Diesel,Manual,Second,8.0,2.90,Mahindra,14.00,2498.0,112
5872,Kolkata,2013,46000,Petrol,Manual,First,5.0,2.65,Maruti,18.90,998.0,67.1
5873,Hyderabad,2011,47000,Diesel,Manual,First,5.0,2.50,Chevrolet,25.44,936.0,57.6

In [17]:
# data training
X = df.drop(['Price'],axis=1)
y = df.Price
len(X)

5874

In [18]:
df

,Location,Year,Kilometers_Driven,Fuel_Type,Transmission,Owner_Type,Seats,Price,Company,Mileage(km/kg),Engine(CC),Power(bhp)
0,Mumbai,2010,72000,CNG,Manual,First,5.0,1.75,Maruti,26.60,998.0,58.16
1,Pune,2015,41000,Diesel,Manual,First,5.0,12.50,Hyundai,19.67,1582.0,126.2
2,Chennai,2011,46000,Petrol,Manual,First,5.0,4.50,Honda,18.20,1199.0,88.7
3,Chennai,2012,87000,Diesel,Manual,First,7.0,6.00,Maruti,20.77,1248.0,88.76
4,Coimbatore,2013,40670,Diesel,Automatic,Second,5.0,17.74,Audi,15.20,1968.0,140.8
...,...,...,...,...,...,...,...,...,...,...,...,...
5869,Delhi,2014,27365,Diesel,Manual,First,5.0,4.75,Maruti,28.40,1248.0,74
5870,Jaipur,2015,100000,Diesel,Manual,First,5.0,4.00,Hyundai,24.40,1120.0,71
5871,Jaipur,2012,55000,Diesel,Manual,Second,8.0,2.90,Mahindra,14.00,2498.0,112
5872,Kolkata,2013,46000,Petrol,Manual,First,5.0,2.65,Maruti,18.90,998.0,67.1
5873,Hyderabad,2011,47000,Diesel,Manual,First,5.0,2.50,Chevrolet,25.44,936.0,57.6

In [19]:
X = pd.get_dummies(X,columns=['Location','Year','Fuel_Type','Transmission','Owner_Type','Company'])
X.head()

,Kilometers_Driven,Seats,Mileage(km/kg),Engine(CC),Power(bhp),Location_Ahmedabad,Location_Bangalore,Location_Chennai,Location_Coimbatore,Location_Delhi,...,Company_Mini,Company_Mitsubishi,Company_Nissan,Company_Porsche,Company_Renault,Company_Skoda,Company_Tata,Company_Toyota,Company_Volkswagen,Company_Volvo
0,72000,5.0,26.60,998.0,58.16,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,41000,5.0,19.67,1582.0,126.2,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,46000,5.0,18.20,1199.0,88.7,0,0,1,0,0,...,0,0,0,0,0,0,0,0,0,0
3,87000,7.0,20.77,1248.0,88.76,0,0,1,0,0,...,0,0,0,0,0,0,0,0,0,0
4,40670,5.0,15.20,1968.0,140.8,0,0,0,1,0,...,0,0,0,0,0,0,0,0,0,0

In [20]:
X.columns

Index(['Kilometers_Driven', 'Seats', 'Mileage(km/kg)', 'Engine(CC)',
       'Power(bhp)', 'Location_Ahmedabad', 'Location_Bangalore',
       'Location_Chennai', 'Location_Coimbatore', 'Location_Delhi',
       'Location_Hyderabad', 'Location_Jaipur', 'Location_Kochi',
       'Location_Kolkata', 'Location_Mumbai', 'Location_Pune', 'Year_1998',
       'Year_1999', 'Year_2000', 'Year_2001', 'Year_2002', 'Year_2003',
       'Year_2004', 'Year_2005', 'Year_2006', 'Year_2007', 'Year_2008',
       'Year_2009', 'Year_2010', 'Year_2011', 'Year_2012', 'Year_2013',
       'Year_2014', 'Year_2015', 'Year_2016', 'Year_2017', 'Year_2018',
       'Year_2019', 'Fuel_Type_CNG', 'Fuel_Type_Diesel', 'Fuel_Type_LPG',
       'Fuel_Type_Petrol', 'Transmission_Automatic', 'Transmission_Manual',
       'Owner_Type_First', 'Owner_Type_Fourth & Above', 'Owner_Type_Second',
       'Owner_Type_Third', 'Company_Ambassador', 'Company_Audi', 'Company_BMW',
       'Company_Bentley', 'Company_Chevrolet', 'Company_Datsun',
       'Company_Fiat', 'Company_Force', 'Company_Ford', 'Company_Honda',
       'Company_Hyundai', 'Company_ISUZU', 'Company_Isuzu', 'Company_Jaguar',
       'Company_Jeep', 'Company_Lamborghini', 'Company_Land',
       'Company_Mahindra', 'Company_Maruti', 'Company_Mercedes-Benz',
       'Company_Mini', 'Company_Mitsubishi', 'Company_Nissan',
       'Company_Porsche', 'Company_Renault', 'Company_Skoda', 'Company_Tata',
       'Company_Toyota', 'Company_Volkswagen', 'Company_Volvo'],
      dtype='object')

In [21]:
# checking shape of    x and y
print(X.shape)
print(y.shape)

(5874, 78)
(5874,)

In [23]:
# training data by using sklearn train_test_split
X_train, X_test, y_train, y_test = train_test_split(X,y,test_size=0.2)
len(X_train)

4699

In [26]:
Test_data =  X_test.loc[603]
Test_data

Kilometers_Driven     70000
Seats                     5
Mileage(km/kg)           17
Engine(CC)             1497
Power(bhp)              118
                      ...
Company_Skoda             0
Company_Tata              0
Company_Toyota            0
Company_Volkswagen        0
Company_Volvo             0
Name: 603, Length: 78, dtype: object

In [27]:
# data scaling 
# everything is scaled b/w 0 to 1 . to prevent data leakage
scaler = MinMaxScaler()

# fit and transfrom
X_train = scaler.fit_transform(X_train)
X_test = scaler.transform(X_test)

# everything has been scaled between 1 and 0
print('Max: ',X_train.max())
print('Min: ', X_train.min())

Max:  1.0
Min:  0.0

In [28]:
model = Sequential()

# input layer
model.add(Dense(19,activation='relu'))

# hidden layers
model.add(Dense(19,activation='relu'))
model.add(Dense(19,activation='relu'))
model.add(Dense(19,activation='relu'))

# output layer
model.add(Dense(1))

model.compile(optimizer='adam',loss='mse')

In [29]:
model.fit(x=X_train,y=y_train.values,
          validation_data=(X_test,y_test.values),
          batch_size=128,epochs=400)

Epoch 1/400
37/37 [==============================] - 2s 16ms/step - loss: 203.5741 - val_loss: 243.8682
Epoch 2/400
37/37 [==============================] - 0s 8ms/step - loss: 163.0756 - val_loss: 155.6528
Epoch 3/400
37/37 [==============================] - 0s 10ms/step - loss: 104.5485 - val_loss: 111.7692
Epoch 4/400
37/37 [==============================] - 0s 8ms/step - loss: 71.3674 - val_loss: 73.3382
Epoch 5/400
37/37 [==============================] - 0s 7ms/step - loss: 46.4809 - val_loss: 53.5190
Epoch 6/400
37/37 [==============================] - 0s 8ms/step - loss: 37.5960 - val_loss: 47.9735
Epoch 7/400
37/37 [==============================] - 0s 8ms/step - loss: 32.5854 - val_loss: 40.9791
Epoch 8/400
37/37 [==============================] - 0s 8ms/step - loss: 28.3614 - val_loss: 36.3266
Epoch 9/400
37/37 [==============================] - 0s 8ms/step - loss: 24.8157 - val_loss: 32.2938
Epoch 10/400
37/37 [==============================] - 0s 8ms/step - loss: 21.6081 - val_loss: 28.1783
Epoch 11/400
37/37 [==============================] - 0s 7ms/step - loss: 19.1721 - val_loss: 25.2993
Epoch 12/400
37/37 [==============================] - 0s 7ms/step - loss: 16.7759 - val_loss: 23.4443
Epoch 13/400
37/37 [==============================] - 0s 7ms/step - loss: 15.4161 - val_loss: 22.3465
Epoch 14/400
37/37 [==============================] - 0s 8ms/step - loss: 14.4829 - val_loss: 20.8636
Epoch 15/400
37/37 [==============================] - 0s 8ms/step - loss: 13.4176 - val_loss: 19.7968
Epoch 16/400
37/37 [==============================] - 0s 8ms/step - loss: 13.0670 - val_loss: 19.9504
Epoch 17/400
37/37 [==============================] - 0s 9ms/step - loss: 12.5593 - val_loss: 18.8528
Epoch 18/400
37/37 [==============================] - 0s 7ms/step - loss: 12.0191 - val_loss: 18.9901
Epoch 19/400
37/37 [==============================] - 0s 9ms/step - loss: 11.8858 - val_loss: 18.4819
Epoch 20/400
37/37 [==============================] - 0s 9ms/step - loss: 11.5269 - val_loss: 18.2455
Epoch 21/400
37/37 [==============================] - 0s 8ms/step - loss: 11.1416 - val_loss: 17.9113
Epoch 22/400
37/37 [==============================] - 0s 7ms/step - loss: 11.0064 - val_loss: 18.1102
Epoch 23/400
37/37 [==============================] - 0s 9ms/step - loss: 10.6222 - val_loss: 18.0653
Epoch 24/400
37/37 [==============================] - 0s 7ms/step - loss: 10.4232 - val_loss: 17.7814
Epoch 25/400
37/37 [==============================] - 0s 8ms/step - loss: 10.7019 - val_loss: 17.8601
Epoch 26/400
37/37 [==============================] - 0s 8ms/step - loss: 10.2775 - val_loss: 17.8359
Epoch 27/400
37/37 [==============================] - 0s 9ms/step - loss: 10.0494 - val_loss: 17.9363
Epoch 28/400
37/37 [==============================] - 0s 9ms/step - loss: 9.7742 - val_loss: 17.6492
Epoch 29/400
37/37 [==============================] - 0s 7ms/step - loss: 9.7997 - val_loss: 17.6498
Epoch 30/400
37/37 [==============================] - 0s 7ms/step - loss: 9.6930 - val_loss: 17.7931
Epoch 31/400
37/37 [==============================] - 0s 6ms/step - loss: 9.6283 - val_loss: 18.3425
Epoch 32/400
37/37 [==============================] - 0s 7ms/step - loss: 9.8244 - val_loss: 18.5000
Epoch 33/400
37/37 [==============================] - 0s 6ms/step - loss: 9.7743 - val_loss: 18.5868
Epoch 34/400
37/37 [==============================] - 0s 8ms/step - loss: 9.5611 - val_loss: 18.0377
Epoch 35/400
37/37 [==============================] - 0s 7ms/step - loss: 9.2421 - val_loss: 18.0371
Epoch 36/400
37/37 [==============================] - 0s 7ms/step - loss: 9.2222 - val_loss: 18.0623
Epoch 37/400
37/37 [==============================] - 0s 6ms/step - loss: 9.1653 - val_loss: 17.9311
Epoch 38/400
37/37 [==============================] - 0s 6ms/step - loss: 9.0634 - val_loss: 18.0743
Epoch 39/400
37/37 [==============================] - 0s 8ms/step - loss: 8.9716 - val_loss: 17.9119
Epoch 40/400
37/37 [==============================] - 0s 9ms/step - loss: 8.8646 - val_loss: 18.5601
Epoch 41/400
37/37 [==============================] - 0s 8ms/step - loss: 9.1593 - val_loss: 18.3020
Epoch 42/400
37/37 [==============================] - 0s 7ms/step - loss: 8.9528 - val_loss: 18.1235
Epoch 43/400
37/37 [==============================] - 0s 7ms/step - loss: 8.7892 - val_loss: 18.2577
Epoch 44/400
37/37 [==============================] - 0s 7ms/step - loss: 9.0274 - val_loss: 18.9566
Epoch 45/400
37/37 [==============================] - 0s 6ms/step - loss: 8.8612 - val_loss: 19.0084
Epoch 46/400
37/37 [==============================] - 0s 6ms/step - loss: 8.9287 - val_loss: 18.9150
Epoch 47/400
37/37 [==============================] - 0s 8ms/step - loss: 8.9303 - val_loss: 18.5281
Epoch 48/400
37/37 [==============================] - 0s 9ms/step - loss: 8.8541 - val_loss: 18.9043
Epoch 49/400
37/37 [==============================] - 0s 8ms/step - loss: 8.5173 - val_loss: 19.1806
Epoch 50/400
37/37 [==============================] - 0s 8ms/step - loss: 8.3917 - val_loss: 18.8965
Epoch 51/400
37/37 [==============================] - 0s 6ms/step - loss: 8.4291 - val_loss: 19.1653
Epoch 52/400
37/37 [==============================] - 0s 7ms/step - loss: 8.3972 - val_loss: 19.0186
Epoch 53/400
37/37 [==============================] - 0s 8ms/step - loss: 8.4858 - val_loss: 18.7582
Epoch 54/400
37/37 [==============================] - 0s 8ms/step - loss: 8.2962 - val_loss: 18.9850
Epoch 55/400
37/37 [==============================] - 0s 6ms/step - loss: 8.1799 - val_loss: 19.0061
Epoch 56/400
37/37 [==============================] - 0s 7ms/step - loss: 8.9271 - val_loss: 19.2208
Epoch 57/400
37/37 [==============================] - 0s 9ms/step - loss: 8.1053 - val_loss: 19.2720
Epoch 58/400
37/37 [==============================] - 0s 8ms/step - loss: 8.0298 - val_loss: 19.6317
Epoch 59/400
37/37 [==============================] - 0s 7ms/step - loss: 8.2194 - val_loss: 19.7543
Epoch 60/400
37/37 [==============================] - 0s 6ms/step - loss: 8.2763 - val_loss: 20.0351
Epoch 61/400
37/37 [==============================] - 0s 7ms/step - loss: 8.0062 - val_loss: 19.5781
Epoch 62/400
37/37 [==============================] - 0s 7ms/step - loss: 7.9306 - val_loss: 20.2199
Epoch 63/400
37/37 [==============================] - 0s 8ms/step - loss: 8.0144 - val_loss: 20.0089
Epoch 64/400
37/37 [==============================] - 0s 7ms/step - loss: 7.8057 - val_loss: 20.1371
Epoch 65/400
37/37 [==============================] - 0s 7ms/step - loss: 8.2180 - val_loss: 20.1516
Epoch 66/400
37/37 [==============================] - 0s 7ms/step - loss: 7.9729 - val_loss: 20.8606
Epoch 67/400
37/37 [==============================] - 0s 7ms/step - loss: 7.7245 - val_loss: 20.4833
Epoch 68/400
37/37 [==============================] - 0s 9ms/step - loss: 7.6206 - val_loss: 20.2559
Epoch 69/400
37/37 [==============================] - 0s 8ms/step - loss: 7.8721 - val_loss: 20.5307
Epoch 70/400
37/37 [==============================] - 0s 8ms/step - loss: 7.6651 - val_loss: 20.7336
Epoch 71/400
37/37 [==============================] - 0s 7ms/step - loss: 7.5873 - val_loss: 20.6884
Epoch 72/400
37/37 [==============================] - 0s 8ms/step - loss: 7.5447 - val_loss: 20.5890
Epoch 73/400
37/37 [==============================] - 0s 9ms/step - loss: 7.4954 - val_loss: 21.9572
Epoch 74/400
37/37 [==============================] - 0s 7ms/step - loss: 7.7412 - val_loss: 20.5904
Epoch 75/400
37/37 [==============================] - 0s 7ms/step - loss: 7.5894 - val_loss: 20.9006
Epoch 76/400
37/37 [==============================] - 0s 7ms/step - loss: 7.3623 - val_loss: 21.4975
Epoch 77/400
37/37 [==============================] - 0s 9ms/step - loss: 7.3204 - val_loss: 21.5475
Epoch 78/400
37/37 [==============================] - 0s 7ms/step - loss: 7.4811 - val_loss: 20.9937
Epoch 79/400
37/37 [==============================] - 0s 8ms/step - loss: 7.2900 - val_loss: 20.8992
Epoch 80/400
37/37 [==============================] - 0s 7ms/step - loss: 7.3912 - val_loss: 21.8544
Epoch 81/400
37/37 [==============================] - 0s 8ms/step - loss: 7.5758 - val_loss: 21.2878

Epoch 82/400
37/37 [==============================] - 0s 8ms/step - loss: 7.1009 - val_loss: 21.3940
Epoch 83/400
37/37 [==============================] - 0s 7ms/step - loss: 7.0897 - val_loss: 21.3797
Epoch 84/400
37/37 [==============================] - 0s 9ms/step - loss: 7.0622 - val_loss: 21.5057
Epoch 85/400
37/37 [==============================] - 0s 8ms/step - loss: 7.1300 - val_loss: 21.6574
Epoch 86/400
37/37 [==============================] - 0s 9ms/step - loss: 7.0022 - val_loss: 21.5942
Epoch 87/400
37/37 [==============================] - 0s 8ms/step - loss: 7.0134 - val_loss: 21.7255
Epoch 88/400
37/37 [==============================] - 0s 7ms/step - loss: 6.8507 - val_loss: 22.6089
Epoch 89/400
37/37 [==============================] - 0s 6ms/step - loss: 7.0595 - val_loss: 22.4767
Epoch 90/400
37/37 [==============================] - 0s 8ms/step - loss: 7.1766 - val_loss: 22.6051
Epoch 91/400
37/37 [==============================] - 0s 7ms/step - loss: 7.0993 - val_loss: 22.5654
Epoch 92/400
37/37 [==============================] - 0s 7ms/step - loss: 6.9528 - val_loss: 22.1656
Epoch 93/400
37/37 [==============================] - 0s 7ms/step - loss: 6.8018 - val_loss: 22.3189
Epoch 94/400
37/37 [==============================] - 0s 7ms/step - loss: 6.7583 - val_loss: 22.6768
Epoch 95/400
37/37 [==============================] - 0s 7ms/step - loss: 6.8161 - val_loss: 22.4204
Epoch 96/400
37/37 [==============================] - 0s 6ms/step - loss: 7.1099 - val_loss: 23.1130
Epoch 97/400
37/37 [==============================] - 0s 7ms/step - loss: 6.6552 - val_loss: 22.8342
Epoch 98/400
37/37 [==============================] - 0s 7ms/step - loss: 6.6513 - val_loss: 22.8186
Epoch 99/400
37/37 [==============================] - 0s 7ms/step - loss: 6.5478 - val_loss: 22.4516
Epoch 100/400
37/37 [==============================] - 0s 7ms/step - loss: 6.6119 - val_loss: 23.1737
Epoch 101/400
37/37 [==============================] - 0s 7ms/step - loss: 6.5810 - val_loss: 23.4324
Epoch 102/400
37/37 [==============================] - 0s 8ms/step - loss: 6.4062 - val_loss: 24.4664
Epoch 103/400
37/37 [==============================] - 0s 8ms/step - loss: 6.6288 - val_loss: 23.3060
Epoch 104/400
37/37 [==============================] - 0s 8ms/step - loss: 6.3389 - val_loss: 24.0516
Epoch 105/400
37/37 [==============================] - 0s 7ms/step - loss: 6.3781 - val_loss: 23.7840
Epoch 106/400
37/37 [==============================] - 0s 8ms/step - loss: 6.2156 - val_loss: 23.9543
Epoch 107/400
37/37 [==============================] - 0s 9ms/step - loss: 6.4209 - val_loss: 23.9481
Epoch 108/400
37/37 [==============================] - 0s 8ms/step - loss: 6.5460 - val_loss: 23.8200
Epoch 109/400
37/37 [==============================] - 0s 7ms/step - loss: 6.2446 - val_loss: 23.4977
Epoch 110/400
37/37 [==============================] - 0s 9ms/step - loss: 6.2672 - val_loss: 24.2686
Epoch 111/400
37/37 [==============================] - ETA: 0s - loss: 6.250 - 0s 7ms/step - loss: 6.3087 - val_loss: 24.2255
Epoch 112/400
37/37 [==============================] - 0s 6ms/step - loss: 6.1894 - val_loss: 26.5777
Epoch 113/400
37/37 [==============================] - 0s 7ms/step - loss: 6.3833 - val_loss: 25.0402
Epoch 114/400
37/37 [==============================] - 0s 9ms/step - loss: 6.0811 - val_loss: 24.0057
Epoch 115/400
37/37 [==============================] - 0s 6ms/step - loss: 5.9952 - val_loss: 24.8698
Epoch 116/400
37/37 [==============================] - 0s 7ms/step - loss: 5.9574 - val_loss: 24.1399
Epoch 117/400
37/37 [==============================] - 0s 7ms/step - loss: 6.1957 - val_loss: 24.6724
Epoch 118/400
37/37 [==============================] - 0s 7ms/step - loss: 6.3487 - val_loss: 25.3278
Epoch 119/400
37/37 [==============================] - ETA: 0s - loss: 6.126 - 0s 8ms/step - loss: 5.9776 - val_loss: 24.5890
Epoch 120/400
37/37 [==============================] - 0s 7ms/step - loss: 5.9385 - val_loss: 24.3866
Epoch 121/400
37/37 [==============================] - 0s 8ms/step - loss: 6.3268 - val_loss: 25.4603
Epoch 122/400
37/37 [==============================] - 0s 6ms/step - loss: 5.9995 - val_loss: 24.1496
Epoch 123/400
37/37 [==============================] - 0s 8ms/step - loss: 5.8114 - val_loss: 24.9547
Epoch 124/400
37/37 [==============================] - 0s 8ms/step - loss: 5.7718 - val_loss: 24.5499
Epoch 125/400
37/37 [==============================] - 0s 8ms/step - loss: 5.8009 - val_loss: 25.0663
Epoch 126/400
37/37 [==============================] - 0s 7ms/step - loss: 5.7049 - val_loss: 24.3611
Epoch 127/400
37/37 [==============================] - 0s 7ms/step - loss: 5.7060 - val_loss: 25.6320
Epoch 128/400
37/37 [==============================] - 0s 6ms/step - loss: 5.6603 - val_loss: 24.6299
Epoch 129/400
37/37 [==============================] - 0s 6ms/step - loss: 5.6761 - val_loss: 24.8273
Epoch 130/400
37/37 [==============================] - 0s 7ms/step - loss: 5.7346 - val_loss: 25.0562
Epoch 131/400
37/37 [==============================] - 0s 7ms/step - loss: 5.5329 - val_loss: 25.3062
Epoch 132/400
37/37 [==============================] - 0s 8ms/step - loss: 5.5820 - val_loss: 25.9182
Epoch 133/400
37/37 [==============================] - 0s 7ms/step - loss: 5.8212 - val_loss: 25.0303
Epoch 134/400
37/37 [==============================] - 0s 8ms/step - loss: 5.6270 - val_loss: 25.5373
Epoch 135/400
37/37 [==============================] - 0s 8ms/step - loss: 5.8330 - val_loss: 25.3501
Epoch 136/400
37/37 [==============================] - 0s 8ms/step - loss: 5.5360 - val_loss: 26.2104
Epoch 137/400
37/37 [==============================] - 0s 8ms/step - loss: 5.6088 - val_loss: 26.5064
Epoch 138/400
37/37 [==============================] - 0s 7ms/step - loss: 5.5830 - val_loss: 24.9831
Epoch 139/400
37/37 [==============================] - 0s 8ms/step - loss: 5.5065 - val_loss: 26.0429
Epoch 140/400
37/37 [==============================] - 0s 8ms/step - loss: 5.4281 - val_loss: 26.2753
Epoch 141/400
37/37 [==============================] - 0s 8ms/step - loss: 5.6727 - val_loss: 25.2662
Epoch 142/400
37/37 [==============================] - 0s 6ms/step - loss: 5.4548 - val_loss: 25.6238
Epoch 143/400
37/37 [==============================] - 0s 7ms/step - loss: 5.3669 - val_loss: 25.4271
Epoch 144/400
37/37 [==============================] - 0s 9ms/step - loss: 5.3947 - val_loss: 25.6128
Epoch 145/400
37/37 [==============================] - 0s 9ms/step - loss: 5.3556 - val_loss: 26.2476
Epoch 146/400
37/37 [==============================] - 0s 7ms/step - loss: 5.7252 - val_loss: 25.4682
Epoch 147/400
37/37 [==============================] - 0s 8ms/step - loss: 5.1904 - val_loss: 26.2478
Epoch 148/400
37/37 [==============================] - 0s 9ms/step - loss: 5.1198 - val_loss: 26.1351
Epoch 149/400
37/37 [==============================] - 0s 7ms/step - loss: 5.2400 - val_loss: 26.2932
Epoch 150/400
37/37 [==============================] - 0s 8ms/step - loss: 5.5578 - val_loss: 25.7426
Epoch 151/400
37/37 [==============================] - 0s 8ms/step - loss: 5.1046 - val_loss: 25.9722
Epoch 152/400
37/37 [==============================] - 0s 8ms/step - loss: 5.1610 - val_loss: 26.2000
Epoch 153/400
37/37 [==============================] - 0s 7ms/step - loss: 5.0884 - val_loss: 27.1232
Epoch 154/400
37/37 [==============================] - 0s 8ms/step - loss: 5.0633 - val_loss: 26.1101
Epoch 155/400
37/37 [==============================] - 0s 7ms/step - loss: 5.1911 - val_loss: 26.5375
Epoch 156/400
37/37 [==============================] - 0s 6ms/step - loss: 5.0304 - val_loss: 26.0489
Epoch 157/400
37/37 [==============================] - 0s 8ms/step - loss: 5.2404 - val_loss: 26.0668
Epoch 158/400
37/37 [==============================] - 0s 7ms/step - loss: 5.3858 - val_loss: 26.8780
Epoch 159/400
37/37 [==============================] - 0s 7ms/step - loss: 5.1009 - val_loss: 25.8005
Epoch 160/400
37/37 [==============================] - 0s 7ms/step - loss: 5.0457 - val_loss: 28.1104
Epoch 161/400
37/37 [==============================] - 0s 8ms/step - loss: 5.0306 - val_loss: 27.1478
Epoch 162/400

37/37 [==============================] - 0s 8ms/step - loss: 4.9002 - val_loss: 26.2931
Epoch 163/400
37/37 [==============================] - 0s 9ms/step - loss: 5.0523 - val_loss: 26.5482
Epoch 164/400
37/37 [==============================] - 0s 8ms/step - loss: 5.1867 - val_loss: 26.9482
Epoch 165/400
37/37 [==============================] - 0s 7ms/step - loss: 4.9114 - val_loss: 27.3327
Epoch 166/400
37/37 [==============================] - 0s 6ms/step - loss: 4.8013 - val_loss: 26.9264
Epoch 167/400
37/37 [==============================] - 0s 6ms/step - loss: 4.9321 - val_loss: 25.9535
Epoch 168/400
37/37 [==============================] - 0s 7ms/step - loss: 4.8162 - val_loss: 26.3798
Epoch 169/400
37/37 [==============================] - 0s 8ms/step - loss: 4.9437 - val_loss: 27.4950
Epoch 170/400
37/37 [==============================] - 0s 8ms/step - loss: 4.9195 - val_loss: 27.1390
Epoch 171/400
37/37 [==============================] - 0s 7ms/step - loss: 4.8223 - val_loss: 25.9056
Epoch 172/400
37/37 [==============================] - 0s 8ms/step - loss: 4.7377 - val_loss: 26.8989
Epoch 173/400
37/37 [==============================] - 0s 8ms/step - loss: 4.7892 - val_loss: 26.1691
Epoch 174/400
37/37 [==============================] - 0s 7ms/step - loss: 4.8218 - val_loss: 26.2247
Epoch 175/400
37/37 [==============================] - 0s 8ms/step - loss: 4.7549 - val_loss: 26.8101
Epoch 176/400
37/37 [==============================] - 0s 8ms/step - loss: 4.7431 - val_loss: 25.9713
Epoch 177/400
37/37 [==============================] - 0s 9ms/step - loss: 4.6478 - val_loss: 25.8635
Epoch 178/400
37/37 [==============================] - 0s 7ms/step - loss: 4.8123 - val_loss: 26.1844
Epoch 179/400
37/37 [==============================] - 0s 8ms/step - loss: 4.7298 - val_loss: 27.6663
Epoch 180/400
37/37 [==============================] - 0s 7ms/step - loss: 4.6561 - val_loss: 26.5648
Epoch 181/400
37/37 [==============================] - 0s 6ms/step - loss: 4.6067 - val_loss: 27.9319
Epoch 182/400
37/37 [==============================] - 0s 6ms/step - loss: 4.6505 - val_loss: 26.6941
Epoch 183/400
37/37 [==============================] - 0s 7ms/step - loss: 4.6468 - val_loss: 26.9721
Epoch 184/400
37/37 [==============================] - 0s 8ms/step - loss: 4.6516 - val_loss: 25.9072
Epoch 185/400
37/37 [==============================] - 0s 7ms/step - loss: 4.6503 - val_loss: 27.8188
Epoch 186/400
37/37 [==============================] - 0s 7ms/step - loss: 4.6639 - val_loss: 28.2350
Epoch 187/400
37/37 [==============================] - 0s 7ms/step - loss: 4.9005 - val_loss: 26.3412
Epoch 188/400
37/37 [==============================] - 0s 8ms/step - loss: 4.7821 - val_loss: 27.8550
Epoch 189/400
37/37 [==============================] - 0s 7ms/step - loss: 4.5820 - val_loss: 28.4177
Epoch 190/400
37/37 [==============================] - 0s 8ms/step - loss: 4.5925 - val_loss: 26.1652
Epoch 191/400
37/37 [==============================] - 0s 8ms/step - loss: 4.7140 - val_loss: 28.5453
Epoch 192/400
37/37 [==============================] - 0s 8ms/step - loss: 4.6756 - val_loss: 28.0895
Epoch 193/400
37/37 [==============================] - 0s 8ms/step - loss: 4.7106 - val_loss: 26.5797
Epoch 194/400
37/37 [==============================] - 0s 7ms/step - loss: 4.5481 - val_loss: 27.8484
Epoch 195/400
37/37 [==============================] - 0s 6ms/step - loss: 4.5011 - val_loss: 27.1572
Epoch 196/400
37/37 [==============================] - 0s 6ms/step - loss: 4.4655 - val_loss: 27.5325
Epoch 197/400
37/37 [==============================] - 0s 8ms/step - loss: 4.4511 - val_loss: 28.1477
Epoch 198/400
37/37 [==============================] - 0s 7ms/step - loss: 4.5662 - val_loss: 26.7324
Epoch 199/400
37/37 [==============================] - 0s 8ms/step - loss: 4.4825 - val_loss: 27.9967
Epoch 200/400
37/37 [==============================] - 0s 8ms/step - loss: 4.4417 - val_loss: 27.1638
Epoch 201/400
37/37 [==============================] - 0s 8ms/step - loss: 4.3646 - val_loss: 28.5476
Epoch 202/400
37/37 [==============================] - 0s 7ms/step - loss: 4.4588 - val_loss: 26.3256
Epoch 203/400
37/37 [==============================] - 0s 6ms/step - loss: 4.4583 - val_loss: 27.7906
Epoch 204/400
37/37 [==============================] - 0s 8ms/step - loss: 4.8247 - val_loss: 28.2194
Epoch 205/400
37/37 [==============================] - 0s 8ms/step - loss: 4.3909 - val_loss: 28.7507
Epoch 206/400
37/37 [==============================] - 0s 8ms/step - loss: 4.5157 - val_loss: 27.0388
Epoch 207/400
37/37 [==============================] - 0s 8ms/step - loss: 4.4147 - val_loss: 28.2573
Epoch 208/400
37/37 [==============================] - 0s 7ms/step - loss: 4.3404 - val_loss: 26.6360
Epoch 209/400
37/37 [==============================] - 0s 8ms/step - loss: 4.4395 - val_loss: 27.0447
Epoch 210/400
37/37 [==============================] - 0s 9ms/step - loss: 4.4528 - val_loss: 27.6002
Epoch 211/400
37/37 [==============================] - 0s 9ms/step - loss: 4.3156 - val_loss: 29.4357
Epoch 212/400
37/37 [==============================] - 0s 8ms/step - loss: 4.3019 - val_loss: 28.4935
Epoch 213/400
37/37 [==============================] - 0s 8ms/step - loss: 4.4133 - val_loss: 27.8054
Epoch 214/400
37/37 [==============================] - 0s 8ms/step - loss: 4.2947 - val_loss: 26.8829
Epoch 215/400
37/37 [==============================] - 0s 8ms/step - loss: 4.2796 - val_loss: 27.4708
Epoch 216/400
37/37 [==============================] - 0s 8ms/step - loss: 4.1573 - val_loss: 26.9115
Epoch 217/400
37/37 [==============================] - 0s 9ms/step - loss: 4.3512 - val_loss: 27.5779
Epoch 218/400
37/37 [==============================] - 0s 7ms/step - loss: 4.2106 - val_loss: 28.1407
Epoch 219/400
37/37 [==============================] - 0s 8ms/step - loss: 4.6384 - val_loss: 27.3553
Epoch 220/400
37/37 [==============================] - 0s 8ms/step - loss: 4.5559 - val_loss: 26.0104
Epoch 221/400
37/37 [==============================] - 0s 7ms/step - loss: 4.2443 - val_loss: 27.9162
Epoch 222/400
37/37 [==============================] - 0s 7ms/step - loss: 4.2514 - val_loss: 28.3148
Epoch 223/400
37/37 [==============================] - 0s 9ms/step - loss: 4.4910 - val_loss: 26.6753
Epoch 224/400
37/37 [==============================] - 0s 7ms/step - loss: 4.2999 - val_loss: 27.9855
Epoch 225/400
37/37 [==============================] - 0s 7ms/step - loss: 4.1207 - val_loss: 28.1523
Epoch 226/400
37/37 [==============================] - 0s 8ms/step - loss: 4.2213 - val_loss: 27.8507
Epoch 227/400
37/37 [==============================] - 0s 7ms/step - loss: 4.2470 - val_loss: 28.4875
Epoch 228/400
37/37 [==============================] - 0s 8ms/step - loss: 4.2224 - val_loss: 28.2682
Epoch 229/400
37/37 [==============================] - 0s 8ms/step - loss: 4.1454 - val_loss: 27.5738
Epoch 230/400
37/37 [==============================] - 0s 9ms/step - loss: 4.1361 - val_loss: 28.1429
Epoch 231/400
37/37 [==============================] - 0s 8ms/step - loss: 4.0489 - val_loss: 26.1786
Epoch 232/400
37/37 [==============================] - 0s 8ms/step - loss: 4.1467 - val_loss: 30.6771
Epoch 233/400
37/37 [==============================] - 0s 8ms/step - loss: 4.1062 - val_loss: 27.0195
Epoch 234/400
37/37 [==============================] - 0s 8ms/step - loss: 4.1671 - val_loss: 28.9805
Epoch 235/400
37/37 [==============================] - 0s 8ms/step - loss: 4.0687 - val_loss: 27.6672
Epoch 236/400
37/37 [==============================] - 0s 9ms/step - loss: 4.0250 - val_loss: 26.7971
Epoch 237/400
37/37 [==============================] - 0s 8ms/step - loss: 4.0453 - val_loss: 28.0943
Epoch 238/400
37/37 [==============================] - 0s 10ms/step - loss: 4.0206 - val_loss: 28.1854
Epoch 239/400
37/37 [==============================] - 0s 6ms/step - loss: 4.0196 - val_loss: 28.0982
Epoch 240/400
37/37 [==============================] - 0s 8ms/step - loss: 3.9940 - val_loss: 27.2782
Epoch 241/400
37/37 [==============================] - 0s 7ms/step - loss: 4.0415 - val_loss: 28.3261
Epoch 242/400

37/37 [==============================] - 0s 7ms/step - loss: 4.0452 - val_loss: 28.8390
Epoch 243/400
37/37 [==============================] - 0s 7ms/step - loss: 4.0499 - val_loss: 27.0270
Epoch 244/400
37/37 [==============================] - 0s 7ms/step - loss: 4.0232 - val_loss: 28.9632
Epoch 245/400
37/37 [==============================] - 0s 8ms/step - loss: 3.9183 - val_loss: 29.6494
Epoch 246/400
37/37 [==============================] - 0s 7ms/step - loss: 4.0688 - val_loss: 28.0264
Epoch 247/400
37/37 [==============================] - 0s 8ms/step - loss: 4.0315 - val_loss: 28.4729
Epoch 248/400
37/37 [==============================] - 0s 9ms/step - loss: 4.0797 - val_loss: 29.0114
Epoch 249/400
37/37 [==============================] - 0s 8ms/step - loss: 3.8929 - val_loss: 28.8958
Epoch 250/400
37/37 [==============================] - 0s 7ms/step - loss: 3.9391 - val_loss: 28.1465
Epoch 251/400
37/37 [==============================] - 0s 7ms/step - loss: 3.9103 - val_loss: 28.7152
Epoch 252/400
37/37 [==============================] - 0s 7ms/step - loss: 3.9031 - val_loss: 28.5524
Epoch 253/400
37/37 [==============================] - 0s 9ms/step - loss: 3.8847 - val_loss: 28.4685
Epoch 254/400
37/37 [==============================] - 0s 6ms/step - loss: 3.9293 - val_loss: 28.3827
Epoch 255/400
37/37 [==============================] - 0s 7ms/step - loss: 3.8797 - val_loss: 27.5007
Epoch 256/400
37/37 [==============================] - 0s 6ms/step - loss: 3.8325 - val_loss: 28.0762
Epoch 257/400
37/37 [==============================] - 0s 9ms/step - loss: 3.8283 - val_loss: 28.8684
Epoch 258/400
37/37 [==============================] - 0s 7ms/step - loss: 3.8097 - val_loss: 29.3748
Epoch 259/400
37/37 [==============================] - 0s 7ms/step - loss: 3.9478 - val_loss: 27.2126
Epoch 260/400
37/37 [==============================] - 0s 7ms/step - loss: 3.8897 - val_loss: 28.6947
Epoch 261/400
37/37 [==============================] - 0s 8ms/step - loss: 3.7924 - val_loss: 28.6238
Epoch 262/400
37/37 [==============================] - 0s 8ms/step - loss: 3.9117 - val_loss: 29.3540
Epoch 263/400
37/37 [==============================] - 0s 7ms/step - loss: 3.8090 - val_loss: 28.8721
Epoch 264/400
37/37 [==============================] - 0s 9ms/step - loss: 3.8385 - val_loss: 29.3184
Epoch 265/400
37/37 [==============================] - 0s 8ms/step - loss: 3.9718 - val_loss: 27.9644
Epoch 266/400
37/37 [==============================] - 0s 8ms/step - loss: 3.9065 - val_loss: 29.6559
Epoch 267/400
37/37 [==============================] - 0s 7ms/step - loss: 3.8841 - val_loss: 29.0946
Epoch 268/400
37/37 [==============================] - 0s 7ms/step - loss: 3.7063 - val_loss: 28.6154
Epoch 269/400
37/37 [==============================] - 0s 9ms/step - loss: 3.7296 - val_loss: 28.8537
Epoch 270/400
37/37 [==============================] - 0s 7ms/step - loss: 3.7542 - val_loss: 28.1142
Epoch 271/400
37/37 [==============================] - 0s 7ms/step - loss: 3.7221 - val_loss: 29.0906
Epoch 272/400
37/37 [==============================] - 0s 7ms/step - loss: 3.8115 - val_loss: 30.9411
Epoch 273/400
37/37 [==============================] - 0s 8ms/step - loss: 3.8870 - val_loss: 29.4656
Epoch 274/400
37/37 [==============================] - 0s 7ms/step - loss: 3.7415 - val_loss: 27.9714
Epoch 275/400
37/37 [==============================] - 0s 7ms/step - loss: 3.7370 - val_loss: 27.9537
Epoch 276/400
37/37 [==============================] - 0s 8ms/step - loss: 3.7572 - val_loss: 30.1295
Epoch 277/400
37/37 [==============================] - 0s 8ms/step - loss: 3.8979 - val_loss: 30.3175
Epoch 278/400
37/37 [==============================] - 0s 8ms/step - loss: 3.8645 - val_loss: 31.0414
Epoch 279/400
37/37 [==============================] - 0s 7ms/step - loss: 4.0645 - val_loss: 27.7506
Epoch 280/400
37/37 [==============================] - 0s 8ms/step - loss: 3.8380 - val_loss: 29.6781
Epoch 281/400
37/37 [==============================] - 0s 8ms/step - loss: 3.8094 - val_loss: 29.4637
Epoch 282/400
37/37 [==============================] - 0s 8ms/step - loss: 3.7622 - val_loss: 29.4870
Epoch 283/400
37/37 [==============================] - 0s 8ms/step - loss: 3.6594 - val_loss: 29.5672
Epoch 284/400
37/37 [==============================] - 0s 7ms/step - loss: 3.6682 - val_loss: 29.3115
Epoch 285/400
37/37 [==============================] - 0s 8ms/step - loss: 3.6803 - val_loss: 29.3547
Epoch 286/400
37/37 [==============================] - 0s 7ms/step - loss: 3.6533 - val_loss: 28.2354
Epoch 287/400
37/37 [==============================] - 0s 7ms/step - loss: 3.6557 - val_loss: 29.8815
Epoch 288/400
37/37 [==============================] - 0s 7ms/step - loss: 3.6544 - val_loss: 28.7346
Epoch 289/400
37/37 [==============================] - 0s 7ms/step - loss: 3.6268 - val_loss: 27.9126
Epoch 290/400
37/37 [==============================] - 0s 8ms/step - loss: 3.5648 - val_loss: 27.7302
Epoch 291/400
37/37 [==============================] - 0s 7ms/step - loss: 3.5821 - val_loss: 29.4757
Epoch 292/400
37/37 [==============================] - 0s 8ms/step - loss: 3.6909 - val_loss: 30.6137
Epoch 293/400
37/37 [==============================] - 0s 7ms/step - loss: 3.7340 - val_loss: 29.9919
Epoch 294/400
37/37 [==============================] - 0s 7ms/step - loss: 3.6073 - val_loss: 28.5256
Epoch 295/400
37/37 [==============================] - 0s 10ms/step - loss: 3.4852 - val_loss: 28.4752
Epoch 296/400
37/37 [==============================] - 0s 7ms/step - loss: 3.5037 - val_loss: 27.7126
Epoch 297/400
37/37 [==============================] - 0s 7ms/step - loss: 3.7606 - val_loss: 29.2409
Epoch 298/400
37/37 [==============================] - 0s 8ms/step - loss: 3.6810 - val_loss: 27.0180
Epoch 299/400
37/37 [==============================] - 0s 8ms/step - loss: 3.7016 - val_loss: 28.3525
Epoch 300/400
37/37 [==============================] - 0s 8ms/step - loss: 3.5900 - val_loss: 27.3906
Epoch 301/400
37/37 [==============================] - 0s 7ms/step - loss: 3.5670 - val_loss: 29.2091
Epoch 302/400
37/37 [==============================] - 0s 8ms/step - loss: 3.5506 - val_loss: 27.4773
Epoch 303/400
37/37 [==============================] - 0s 7ms/step - loss: 3.4864 - val_loss: 29.0027
Epoch 304/400
37/37 [==============================] - 0s 7ms/step - loss: 3.4815 - val_loss: 28.2034
Epoch 305/400
37/37 [==============================] - 0s 7ms/step - loss: 3.4593 - val_loss: 28.4001
Epoch 306/400
37/37 [==============================] - 0s 9ms/step - loss: 3.5914 - val_loss: 27.6318
Epoch 307/400
37/37 [==============================] - 0s 7ms/step - loss: 3.5313 - val_loss: 27.9208
Epoch 308/400
37/37 [==============================] - 0s 9ms/step - loss: 3.6088 - val_loss: 27.7281
Epoch 309/400
37/37 [==============================] - 0s 8ms/step - loss: 3.4518 - val_loss: 28.4417
Epoch 310/400
37/37 [==============================] - 0s 7ms/step - loss: 3.4835 - val_loss: 27.9390
Epoch 311/400
37/37 [==============================] - 0s 7ms/step - loss: 3.5053 - val_loss: 29.9173
Epoch 312/400
37/37 [==============================] - 0s 7ms/step - loss: 3.4780 - val_loss: 27.7707
Epoch 313/400
37/37 [==============================] - 0s 7ms/step - loss: 3.4498 - val_loss: 28.2575
Epoch 314/400
37/37 [==============================] - 0s 7ms/step - loss: 3.4177 - val_loss: 29.0702
Epoch 315/400
37/37 [==============================] - 0s 7ms/step - loss: 3.4806 - val_loss: 28.4647
Epoch 316/400
37/37 [==============================] - 0s 7ms/step - loss: 3.4531 - val_loss: 27.7850
Epoch 317/400
37/37 [==============================] - 0s 6ms/step - loss: 3.4877 - val_loss: 27.5677
Epoch 318/400
37/37 [==============================] - 0s 7ms/step - loss: 3.4722 - val_loss: 26.8124
Epoch 319/400
37/37 [==============================] - 0s 7ms/step - loss: 3.6523 - val_loss: 28.5935
Epoch 320/400
37/37 [==============================] - 0s 7ms/step - loss: 3.5405 - val_loss: 27.9689
Epoch 321/400
37/37 [==============================] - 0s 7ms/step - loss: 3.4559 - val_loss: 28.0772
Epoch 322/400

37/37 [==============================] - 0s 6ms/step - loss: 3.3573 - val_loss: 28.7797
Epoch 323/400
37/37 [==============================] - 0s 7ms/step - loss: 3.4049 - val_loss: 28.4022
Epoch 324/400
37/37 [==============================] - 0s 8ms/step - loss: 3.2890 - val_loss: 26.9593
Epoch 325/400
37/37 [==============================] - 0s 8ms/step - loss: 3.3262 - val_loss: 28.9275
Epoch 326/400
37/37 [==============================] - 0s 10ms/step - loss: 3.3718 - val_loss: 28.4624
Epoch 327/400
37/37 [==============================] - 0s 8ms/step - loss: 3.3944 - val_loss: 28.1566
Epoch 328/400
37/37 [==============================] - 0s 6ms/step - loss: 3.3392 - val_loss: 26.9286
Epoch 329/400
37/37 [==============================] - 0s 7ms/step - loss: 3.4627 - val_loss: 27.9889
Epoch 330/400
37/37 [==============================] - 0s 8ms/step - loss: 3.3915 - val_loss: 29.7563
Epoch 331/400
37/37 [==============================] - 0s 8ms/step - loss: 3.4293 - val_loss: 27.7922
Epoch 332/400
37/37 [==============================] - 0s 8ms/step - loss: 3.4416 - val_loss: 28.3788
Epoch 333/400
37/37 [==============================] - 0s 7ms/step - loss: 3.4156 - val_loss: 28.8690
Epoch 334/400
37/37 [==============================] - 0s 9ms/step - loss: 3.4508 - val_loss: 27.4261
Epoch 335/400
37/37 [==============================] - 0s 7ms/step - loss: 3.4553 - val_loss: 28.5137
Epoch 336/400
37/37 [==============================] - 0s 8ms/step - loss: 3.4526 - val_loss: 27.5092
Epoch 337/400
37/37 [==============================] - 0s 9ms/step - loss: 3.4612 - val_loss: 27.5275
Epoch 338/400
37/37 [==============================] - 0s 7ms/step - loss: 3.3861 - val_loss: 27.4525
Epoch 339/400
37/37 [==============================] - 0s 6ms/step - loss: 3.2417 - val_loss: 27.3101
Epoch 340/400
37/37 [==============================] - 0s 7ms/step - loss: 3.3178 - val_loss: 27.9210
Epoch 341/400
37/37 [==============================] - 0s 7ms/step - loss: 3.2604 - val_loss: 27.7873
Epoch 342/400
37/37 [==============================] - 0s 7ms/step - loss: 3.3354 - val_loss: 26.6733
Epoch 343/400
37/37 [==============================] - 0s 7ms/step - loss: 3.2873 - val_loss: 27.9644
Epoch 344/400
37/37 [==============================] - 0s 8ms/step - loss: 3.5436 - val_loss: 28.0277
Epoch 345/400
37/37 [==============================] - 0s 7ms/step - loss: 3.5788 - val_loss: 27.9379
Epoch 346/400
37/37 [==============================] - 0s 8ms/step - loss: 3.3252 - val_loss: 28.3676
Epoch 347/400
37/37 [==============================] - 0s 6ms/step - loss: 3.3614 - val_loss: 27.5355
Epoch 348/400
37/37 [==============================] - 0s 7ms/step - loss: 3.2873 - val_loss: 28.0609
Epoch 349/400
37/37 [==============================] - 0s 7ms/step - loss: 3.3151 - val_loss: 27.8046
Epoch 350/400
37/37 [==============================] - 0s 9ms/step - loss: 3.4652 - val_loss: 27.1860
Epoch 351/400
37/37 [==============================] - 0s 8ms/step - loss: 3.3268 - val_loss: 26.8859
Epoch 352/400
37/37 [==============================] - 0s 9ms/step - loss: 3.3713 - val_loss: 26.3052
Epoch 353/400
37/37 [==============================] - 0s 8ms/step - loss: 3.2983 - val_loss: 28.3068
Epoch 354/400
37/37 [==============================] - 0s 9ms/step - loss: 3.1944 - val_loss: 25.9432
Epoch 355/400
37/37 [==============================] - 0s 6ms/step - loss: 3.5742 - val_loss: 29.4820
Epoch 356/400
37/37 [==============================] - 0s 7ms/step - loss: 3.4418 - val_loss: 27.0499
Epoch 357/400
37/37 [==============================] - 0s 7ms/step - loss: 3.1893 - val_loss: 25.9835
Epoch 358/400
37/37 [==============================] - 0s 7ms/step - loss: 3.2535 - val_loss: 27.5316
Epoch 359/400
37/37 [==============================] - 0s 8ms/step - loss: 3.1767 - val_loss: 26.8673
Epoch 360/400
37/37 [==============================] - 0s 8ms/step - loss: 3.1800 - val_loss: 27.5957
Epoch 361/400
37/37 [==============================] - 0s 7ms/step - loss: 3.3962 - val_loss: 26.9347
Epoch 362/400
37/37 [==============================] - 0s 8ms/step - loss: 3.3729 - val_loss: 26.6301
Epoch 363/400
37/37 [==============================] - 0s 7ms/step - loss: 3.2501 - val_loss: 26.5648
Epoch 364/400
37/37 [==============================] - 0s 7ms/step - loss: 3.2627 - val_loss: 27.2679
Epoch 365/400
37/37 [==============================] - 0s 7ms/step - loss: 3.2098 - val_loss: 27.1862
Epoch 366/400
37/37 [==============================] - 0s 7ms/step - loss: 3.0998 - val_loss: 26.1944
Epoch 367/400
37/37 [==============================] - 0s 9ms/step - loss: 3.1116 - val_loss: 27.4135
Epoch 368/400
37/37 [==============================] - 0s 8ms/step - loss: 3.2621 - val_loss: 26.7604
Epoch 369/400
37/37 [==============================] - 0s 8ms/step - loss: 3.1851 - val_loss: 27.6209
Epoch 370/400
37/37 [==============================] - 0s 7ms/step - loss: 3.4383 - val_loss: 26.5298
Epoch 371/400
37/37 [==============================] - 0s 7ms/step - loss: 3.4037 - val_loss: 26.2857
Epoch 372/400
37/37 [==============================] - 0s 7ms/step - loss: 3.4495 - val_loss: 26.4587
Epoch 373/400
37/37 [==============================] - 0s 9ms/step - loss: 3.3456 - val_loss: 27.4854
Epoch 374/400
37/37 [==============================] - 0s 8ms/step - loss: 3.2909 - val_loss: 29.6153
Epoch 375/400
37/37 [==============================] - 0s 9ms/step - loss: 3.3296 - val_loss: 26.8666
Epoch 376/400
37/37 [==============================] - 0s 8ms/step - loss: 3.2624 - val_loss: 27.1622
Epoch 377/400
37/37 [==============================] - 0s 8ms/step - loss: 3.2915 - val_loss: 27.7236
Epoch 378/400
37/37 [==============================] - 0s 7ms/step - loss: 3.3079 - val_loss: 26.4053
Epoch 379/400
37/37 [==============================] - 0s 7ms/step - loss: 3.1015 - val_loss: 27.7547
Epoch 380/400
37/37 [==============================] - 0s 8ms/step - loss: 3.1227 - val_loss: 26.4431
Epoch 381/400
37/37 [==============================] - 0s 6ms/step - loss: 3.0700 - val_loss: 26.7074
Epoch 382/400
37/37 [==============================] - 0s 7ms/step - loss: 3.0739 - val_loss: 27.0701
Epoch 383/400
37/37 [==============================] - 0s 7ms/step - loss: 3.0505 - val_loss: 28.0576
Epoch 384/400
37/37 [==============================] - 0s 7ms/step - loss: 3.1642 - val_loss: 26.2894
Epoch 385/400
37/37 [==============================] - 0s 7ms/step - loss: 3.2107 - val_loss: 27.0208
Epoch 386/400
37/37 [==============================] - 0s 7ms/step - loss: 3.2212 - val_loss: 27.2816
Epoch 387/400
37/37 [==============================] - 0s 8ms/step - loss: 3.0299 - val_loss: 26.4557
Epoch 388/400
37/37 [==============================] - 0s 7ms/step - loss: 3.2820 - val_loss: 26.6768
Epoch 389/400
37/37 [==============================] - 0s 7ms/step - loss: 3.1662 - val_loss: 27.0565
Epoch 390/400
37/37 [==============================] - 0s 8ms/step - loss: 3.0068 - val_loss: 26.4194
Epoch 391/400
37/37 [==============================] - 0s 8ms/step - loss: 2.9762 - val_loss: 29.2418
Epoch 392/400
37/37 [==============================] - 0s 8ms/step - loss: 3.0777 - val_loss: 26.3115
Epoch 393/400
37/37 [==============================] - 0s 7ms/step - loss: 3.0768 - val_loss: 27.1162
Epoch 394/400
37/37 [==============================] - 0s 7ms/step - loss: 2.9733 - val_loss: 27.4264
Epoch 395/400
37/37 [==============================] - 0s 8ms/step - loss: 3.0056 - val_loss: 27.5532
Epoch 396/400
37/37 [==============================] - 0s 9ms/step - loss: 3.0056 - val_loss: 28.3490
Epoch 397/400
37/37 [==============================] - 0s 8ms/step - loss: 3.0443 - val_loss: 27.0505
Epoch 398/400
37/37 [==============================] - 0s 8ms/step - loss: 3.0309 - val_loss: 27.1032
Epoch 399/400
37/37 [==============================] - 0s 8ms/step - loss: 3.1413 - val_loss: 26.7965
Epoch 400/400
37/37 [==============================] - 0s 7ms/step - loss: 2.9264 - val_loss: 26.5005

In [30]:
# predictions on the test set
predictions = model.predict(X_test)

print('MAE: ',mean_absolute_error(y_test,predictions))
print('MSE: ',mean_squared_error(y_test,predictions))
print('RMSE: ',np.sqrt(mean_squared_error(y_test,predictions)))
print('Variance Regression Score: ',explained_variance_score(y_test,predictions))

print('\n\nDescriptive Statistics:\n',df['Price'].describe())

MAE:  2.085945937627427
MSE:  26.500462546128322
RMSE:  5.147859996748972
Variance Regression Score:  0.8233287479860092


Descriptive Statistics:
 count    5874.000000
mean        9.601551
std        11.248283
min         0.440000
25%         3.512500
50%         5.750000
75%        10.000000
max       160.000000
Name: Price, dtype: float64

In [24]:
dff.shape[0]

5981

In [33]:
print("Features of car :")
print(Test_data)
Test_data = scaler.transform(Test_data.values.reshape(-1, 78))
print('\nPrediction Price:',model.predict(Test_data)[0,0])

Features of car :
[[0.01074321 0.375      0.50685748 0.18048377 0.15937619 0.
  0.         0.         0.         0.         0.         0.
  0.         0.         1.         0.         0.         0.
  0.         0.         0.         0.         0.         0.
  0.         0.         0.         1.         0.         0.
  0.         0.         0.         0.         0.         0.
  0.         0.         0.         0.         0.         1.
  0.         1.         1.         0.         0.         0.
  0.         0.         0.         0.         0.         0.
  0.         0.         0.         1.         0.         0.
  0.         0.         0.         0.         0.         0.
  0.         0.         0.         0.         0.         0.
  0.         0.         0.         0.         0.         0.        ]]

AttributeError: 'numpy.ndarray' object has no attribute 'values'